.numbersDiv {
  font-size: 50px;
  height: 30px;
  width: 100%;
  text-align: center;
  align-items: center;
  font-weight: 900;
  margin-bottom: 90px;
}

.numbersShown {
  height: 100px;
  width: 100px;
  display: inline-table;
  align-items: center;
  border-radius: 50%;
  margin-right: 9px;
  padding: 10px;

  background-color: rgb(247, 238, 224);
  color: black;
}

.numberToBeShown {
  height: 100px;
  width: 100px;
  display: inline-table;
  border-radius: 50%;
  margin-right: 9px;
  padding: 10px;

  background-color: #c7c7c7;
  color: #c7c7c7;
}
